{{ define "post" }}
    {{ range .Albums }}
        <div id="albumContainer">
            <div id="metadataContainer">
                <h2>Random Album Selector</h2>
                <h3>{{.Artist}} - {{.Name}}</h3>
                <p><strong>#{{.PositionOnLastFm}}</strong> on my Last.fm (<strong>{{.PlayCount}}</strong> plays since February 2017)</p>
            </div>
            <div id="artworkContainer">
                <img id="imageArtwork" src="{{.ImageUrl}}">
            </div>
        </div>
    {{ end }}
{{ end }}