body {
    font-family: 'Raleway', sans-serif, arial;
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: 1px #9e9e9e solid;
    padding: 10px 20px;
}

.navbar #title {
    margin: 0;
    display: inline-block;
}

.navbar ul {
    float: right;
    margin: 10px;
    padding: 0;
    list-style-type:none;
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333333;
}

.navbar ul li a:hover {
    color: #111111;
    font-weight: bold;
}

#metadataContainer{
    vertical-align: top;
}

#artworkContainer,
#metadataContainer{
    display: inline-block;
}

#imageArtwork {
    height: 175px;
}

div.post {
    padding: 10px;
}