body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fafafa;
    padding: 10px 20px;
}

.navbar #title {
    margin: 0;
}

.navbar .navbar-menu {
    float: right;
}

.navbar .navbar-menu ul {
    padding: 0;
    list-style-type:none;
}

#metadataContainer{
    vertical-align: top;
}

#artworkContainer,
#metadataContainer{
    display: inline-block;
}

#imageArtwork {
    height: 175px;
}

div.post {
    padding: 10px;
}